
API/.vs/API/v17/.suo

API/.vs/API/DesignTimeBuild/.dtbcache.v2

API/.vs/API/v17/.futdcache.v1

API/API/bin/Debug/net6.0/

API/API/obj/Debug/net6.0/

API/API/obj/

API/Data/bin/Debug/net6.0/

API/Data/obj/Debug/net6.0/

API/DataAcess/bin/Debug/net6.0/

API/DataAcess/obj/Debug/net6.0/

API/Data/obj/

UI/lib/node_modules
