
form {
    padding: .5rem;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    label {
        padding-right: .5rem;
    }
}

.submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
