.dropdown {
    position: relative;

    .menu {
        position: absolute;
      
        list-style-type: none;
        margin: 5px 0;
        padding: 0;
      
        border: 1px solid grey;
        width: 150px;

        .menu-item {
            margin: 0;
          
            background-color: white;
        }

        .menu-item:hover {
            background-color: lightgray;
        }
    }
}