.app-container {
  display: flex;
  flex-direction: column;
}

.app-header {
  display: block;
  height: 15%;
  min-height: 6rem;
  border-bottom: 1px solid black;
}

.app-header .routes > span {
  font-weight: bold;
}

.app-body {
  display: block;
  width: 100%;
  height: 80%;
  min-height: 36rem;
}

.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5%;
  min-height: 6rem;
}

.app-footer .contact-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
